/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    border: 1px solid black;
    padding: 20px; /* Zorgt voor ruimte binnen de sectie */
    margin: 20px; /* Voeg marge toe rondom de secties */
    position: relative;
    background-color: #333; /* Donkergrijze achtergrondkleur voor alle secties */
    color: #fff; /* Witte tekstkleur voor leesbaarheid op donkergrijs */
}

/* Specifieke achtergrondkleur voor titels in sectie 1 */
#section1 .title {
    background-color: pink; /* Achtergrondkleur voor de titel in sectie 1 (Chicken) */
}

/* Specifieke achtergrondkleur voor titels in sectie 2 */
#section2 .title {
    background-color: red; /* Achtergrondkleur voor de titel in sectie 2 (Beef) */
    color: white; /* Tekstkleur voor de titel in sectie 2 (Beef) */
}

/* Specifieke achtergrondkleur voor titels in sectie 3 */
#section3 .title {
    background-color: yellow; /* Achtergrondkleur voor de titel in sectie 3 (Sushi) */
}

/* Layout for desktop */
@media (min-width: 992px) {
    .section {
        width: calc(33.33% - 40px); /* Houd rekening met marge om ruimte te creëren */
        float: left;
        margin: 20px; /* Zorg voor ruimte rondom de secties */
    }
}

/* Layout for tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: calc(50% - 40px); /* Houd rekening met marge om ruimte te creëren */
        margin: 20px; /* Zorg voor ruimte rondom de secties */
    }
}

/* Layout for mobile */
@media (max-width: 767px) {
    .section {
        width: calc(100% - 40px); /* Houd rekening met marge om ruimte te creëren */
        margin: 20px; /* Zorg voor ruimte rondom de secties */
    }
}
